<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/serviceDB</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>

    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
    <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

    <property name="show_sql">true</property> <!-- Show SQL in console -->
    <property name="format_sql">true</property> <!-- Show SQL formatted -->
    <property name="hibernate.hbm2ddl.auto">validate</property> <!-- Update database on startup -->


    <mapping class="entity.food.Dish"/>
    <mapping class="entity.food.DishesInOrder"/>
    <mapping class="entity.order.Order"/>
    <mapping class="entity.order.Table"/>
    <mapping class="entity.users.Client"/>
    <mapping class="entity.users.Employee"/>
  </session-factory>

</hibernate-configuration>
